In [9]:
john_data = {
    "first_name": "John",
    "last_name": "Doe",
    "age": 34,
    "salary": 100_000, 
}
jane_data = {
    "first_name": "Jane",
    "last_name": "Doe",
    "age": 32,
    "salary": 90_000, 
}
employee_data = {
    "John Doe": john_data,
    "Jane Doe": jane_data
}

# Pythonic list below.
expenses = [employee_data[employee]["salary"] for employee in employee_data]
print(expenses)

#Pythonic sum below.
total_expenses = sum(expenses)
print(total_expenses)

[100000, 90000]
190000